//Colors//
$teal: #58e1c1;
$lightblue: #51ddfc;
$purple: #927bc1;
$creamred: #fd7856;
$kiwigreen: #63cc82;
$gray: #777;
$white: #fff;
$rosiered: #e4757a;
$lightpurple: #deb2ee;
$aqua: #7ee6fd;
$creamgreen: #88d9a0;
$scionblue: #4da2bb;
$pink: #ec9fa3;
$creampink: #fd9f85;
$darkpink: #e4757a;
$lightaqua: #80e8d1;


//Breakpoint//
$bp: '(min-width: 768px)';
