//Grid//
.container {
    padding: 0 10px;
  }
  
.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }
  
.theme.col-1 {
    background-color: $purple;
  }
  
.theme.col-2 {
    background-color: $creamred;
  }
  
.theme.col-3 {
    background-color: $lightpurple;
  }
  
.theme.col-4 {
    background-color: $aqua;
  }
  
.theme.col-5 {
    background-color: $creamgreen;
  }
  
.theme.col-6 {
    background-color: $scionblue;
  }
  
.theme.col-7 {
    background-color: $pink;
  }
  
.theme.col-8 {
    background-color: $creampink;
  }
  
.theme.col-9 {
    background-color: $darkpink;
  }
  
.theme.col-10 {
    background-color: $kiwigreen;
  }
  
.theme.col-11 {
    background-color: $lightblue;
  }
  
.theme.col-12 {
    background-color: $lightaqua;
  }
  
.card {
    flex-basis: 100%;
  }

